@import url('reset.css');
body{
	background-color: #D7E9B9;
	line-height: 1.2;
}
[class*="__container"]{
	max-width: 850px;
	margin: 0 auto;
	padding: 0 15px;
}
.page__section{
	padding: 50px;
}
.header {
	text-align: center;
	padding: 20px;
}
.header__title {
	font-weight: 700;
	font-size: 40px;
}
.header__title:not(:last-child){
	margin-bottom: 10px;
}
.task-list {
	
}
.task-list__list:not(:last-child){
	margin-bottom: 20px;
}
.list {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	/* text-align: center; */
}
.list__title {
	font-size: 32px;
}
.list__title:not(:last-child){
	margin-bottom: 10px;
}
.list p{
	font-size: 20px;
}
.list p:not(:last-child){
	margin-bottom: 10px;
}

.list__link,
.list__item,
.banner{
	opacity: 0.8;
	padding: 20px;
	display: block;
	background-color: #FFFBAC;
	border: 3px solid #FAAB78;
	border-radius: 20px;
	transition: all 0.5s;
}
.list__link ol{
	padding-left: 20px;
}
.list__link:visited{
	opacity: 1;
}
.list__link:hover{
	opacity: 1;
	transform: scale(1.05);
}
.list__link_check{
	background-color: #f8f16e;
	border: 3px solid #FAAB78;
}

.list img{
	max-width: 100%;
}

.solution{
	padding-top: 20px;
	padding-bottom: 100px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
table {
	display: inline-block;
	border: 2px solid black;
}
table:not(:last-child) {
	margin-right: 20px;
}

tr, th, td {
	border: 1px solid black;
	text-align: center;
}

table th {
	text-transform: uppercase;
	padding: 15px;
}
table td {
	padding: 15px;
}

.list__result-text{
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}
.list__result-text span{
	font-weight: 700;
	color: red;
}

.btn{
	margin-bottom: 5px;
	padding: 10px 20px;
	background-color: #FFFBAC;
	border: 2px solid #FAAB78;
	border-radius: 20px;
	transition: all 0.3s;
}
.btn:not(:last-child){
	margin-right: 5px;
}
.btn:hover{
	background-color: #FAAB78;
	border: 2px solid #FFFBAC;
}
.inp {
	border: 2px solid #FAAB78;
}

.banner {
	text-align: center;
}
.banner:hover img{
	transform: rotate(5deg) scale(1.05);
}
.banner__link img {
	max-width: 200px;
	margin-bottom: 20px;
	transition: all 0.5s;
}
.sort{}
.sort_title{
	font-weight: 700;
	font-size: 24px;
}
.sort_start{
	color: red;
}
.sort_results{
	
}
label{
	margin-bottom: 10px;
	width: 500px;
	display: block;
}
button{
	display: block;
	padding: 10px;
	margin-bottom: 10px;
}
.wish{
	max-width: 350px;
	border: 2px solid #FAAB78;
	text-align: center;
}
.wish:not(:last-child){
	margin-bottom: 5px;
}
.client-account {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	gap: 10px;
}
.client-account__label {
	width: 200px;
}
.client-account__input {
	height: 40px;
}
.client-account__btn {}
.results3 {
	height: 200px;
}